In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/t1-a25/T1_A25census-3.csv

**Step 1: Understand the Data**

In [2]:
df = pd.read_csv('/kaggle/input/t1-a25/T1_A25census-3.csv')

# Display the first few rows
df.head()

,Unnamed: 0,House Number,Street,First Name,Surname,Age,Relationship to Head of House,Marital Status,Gender,Occupation,Infirmity,Religion
0,0,1,Inverness Mission,Darren,Kaur,79,Head,Widowed,Male,"Retired Surveyor, building control",NaN,Christian
1,1,2,Inverness Mission,Dean,Hughes,66,Head,Widowed,Male,Financial trader,NaN,Christian
2,2,3,Inverness Mission,Andrew,Freeman,19,Head,Single,Male,University Student,NaN,NaN
3,3,4,Inverness Mission,Sally,Ward,40,Head,Single,Female,Chief Marketing Officer,NaN,Christian
4,4,4,Inverness Mission,Brandon,Thorpe,38,Partner,Single,Male,Secondary school teacher,NaN,Christian

**Examine the Structure**

In [3]:
# Check shape and column types
print("Shape:", df.shape)
df.info()

Shape: (8786, 12)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8786 entries, 0 to 8785
Data columns (total 12 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Unnamed: 0                     8786 non-null   int64
 1   House Number                   8786 non-null   object
 2   Street                         8786 non-null   object
 3   First Name                     8786 non-null   object
 4   Surname                        8786 non-null   object
 5   Age                            8786 non-null   object
 6   Relationship to Head of House  8223 non-null   object
 7   Marital Status                 6646 non-null   object
 8   Gender                         8786 non-null   object
 9   Occupation                     8786 non-null   object
 10  Infirmity                      77 non-null     object
 11  Religion                       3693 non-null   object
dtypes: int64(1), object(11)
memory usage: 823.8+ KB

**Missing Values**

In [4]:
# Count missing values in each column
df.isnull().sum()

Unnamed: 0                          0
House Number                        0
Street                              0
First Name                          0
Surname                             0
Age                                 0
Relationship to Head of House     563
Marital Status                   2140
Gender                              0
Occupation                          0
Infirmity                        8709
Religion                         5093
dtype: int64

**Basic Descriptive Stats**

In [5]:
# Summary stats for numerical columns
df.describe()

# Summary stats for categorical columns
df.describe(include=['object'])

,House Number,Street,First Name,Surname,Age,Relationship to Head of House,Marital Status,Gender,Occupation,Infirmity,Religion
count,8786,8786,8786,8786,8786,8223,6646,8786,8786,77,3693
unique,232,105,365,672,114,20,8,8,1067,7,13
top,1,Mason Loaf,Joyce,Smith,41,Head,Single,Female,Student,Physical Disability,Christian
freq,357,707,42,232,161,3063,3031,4483,1699,18,1953

**Unique Values in Each Column**

In [6]:
for col in df.columns:
    print(f"{col}: {df[col].nunique()} unique values")
    print(df[col].unique())
    print()

Unnamed: 0: 8786 unique values
[   0    1    2 ... 8783 8784 8785]

House Number: 232 unique values
['1' '2' '3' '4' '5' '6' '7' '8' '9' '10' '11' '12' '13' '14' '15' '16'
 '17' '18' '19' '20' '21' '22' '23' '24' '25' '26' '27' '28' '29' '30'
 '31' '32' '33' '34' '35' '36' '37' '38' '39' '40' '41' '42' '43' '44'
 '45' '46' '47' '48' '49' '50' '51' '52' '53' '54' '55' '56' '57' '58'
 '59' '60' '61' '62' '63' '64' '65' '66' '67' '68' '69' '70' '71' '72'
 '73' '74' '75' '76' '77' '78' '79' '80' '81' '82' '83' '84' '85' '86'
 '87' '88' '89' '90' '91' '92' '93' '94' '95' '96' '97' '98' '99' '100'
 '101' '102' '103' '104' '105' '106' '107' '108' '109' '110' '111' '112'
 '113' '114' '115' '116' '117' '118' '119' '120' '121' '122' '123' '124'
 '125' '126' '127' '128' '129' '130' '131' '132' '133' '134' '135' '136'
 '137' '138' '139' '140' '141' '142' '143' '144' '145' '146' '147' '148'
 '149' '150' '151' '152' '153' '154' '155' '156' '157' '158' '159' '160'
 '161' '162' '163' '164' '165' '166' '167' '168' '169' '170' '171' '172'
 '173' '174' '175' '176' '177' '178' '179' '180' '181' '182' '183' '184'
 '185' '186' '187' '188' '189' '190' '191' '192' '193' '194' '195' '196'
 '197' '198' '199' '200' '201' '202' '203' '204' '205' '206' '207' '208'
 '209' '210' '211' '212' '213' '214' '215' '216' '217' '218' '219' '220'
 '221' '222' '223' '224' '225' '226' '227' '228' '229' '230' '231' 'One']

Street: 105 unique values
['Inverness Mission' 'Gold Road' 'Whitehall Street' 'Allen Ford'
 'Druid Prairie' 'Racoon Road' 'Reid Club' 'Minster Creek' 'York Lane'
 'Wakefieldbait Avenue' 'Wales Center' 'Wright Forest' 'Belle Lane'
 'Whitehalllink Avenue' 'Evans Lane' 'Magpiepush Lane' 'Daisy Gateway'
 'Polaris Avenue' 'Gwent Avenue' 'Quinn Road' 'Hughes Street'
 'St.Matthew Lane' 'Yates Shoal' 'Goldfish Street' 'Foxglove Avenue'
 'Goldfish Divide' 'Orchard Road' 'Hearthawk Street' 'Goldfishpick Avenue'
 'Mason Loaf' 'Jones Junction' 'Cancer Ramp' 'Hunt Lock' 'Glasgow Drive'
 'Harvey Village' 'Prince Avenue' 'Breakfast Road' 'Barry Avenue'
 'Hove Lane' 'Alberthook Lane' 'Tamarisk Prairie' 'Wright Cove'
 'Strawberrydike Street' 'June Road' 'Hardy Grove' 'Albion Drive'
 'Scotland Lane' 'Thomas Drive' 'Hussain Loaf' 'Akhtar Drive' 'Bibi Coves'
 'Watts Lane' 'Spencer Point' 'Pendragon Garden' 'Lightning Shores'
 'Whittaker Tunnel' 'Salisbury Drive' 'Wells Summit' 'Turner Lane'
 'Laurel Tunnel' 'Capricorn Plain' 'Bentley Street' 'Violet Loaf'
 'Madrid Lane' 'Telegraph Lane' 'Oak Avenue' 'Shark Unions'
 'Glorious Lane' 'St.Mary Street' 'CherryChestnut Lights' 'Brick Street'
 'Burgess Underpass' 'Belle Road' 'Skinner Ferry' 'Clarke Road'
 'Beverley Road' 'Salford Neck' 'Beverley Bypass' 'Gloucester Street'
 'Leach Well' 'ExcaliburBells Wells' 'Duckjar Lane' 'Wembley Street'
 'Leonard Drive' 'Akhtar Cove' 'Davison Forks' 'Clark Wells' 'Shark Drive'
 'Wright Drive' 'United Squares' 'The Bastion' 'Cumberland Delve'
 'Butterfly Rectory' 'Brown Cabin' 'Falcon Cottage' 'Black Lodge'
 'Embankment Haven' 'Watts Delve' 'Oyster Lighthouse' 'Hughes Chalet'
 'Jenkins Cottage' 'Smith Lodge' 'Ball Stables' 'Lisbon Spire'
 'Ferguson Villa']

First Name: 365 unique values
['Darren' 'Dean' 'Andrew' 'Sally' 'Brandon' 'Glenn' 'Lesley' 'Damien'
 'Marie' 'Melanie' 'Carl' 'Melissa' 'Jessica' 'Sandra' 'Shaun' 'Marilyn'
 'Philip' 'Katy' 'Francesca' 'Stewart' 'Stanley' 'Glen' 'Kyle' 'Andrea'
 'Denis' 'Claire' 'Bruce' 'Abigail' 'Francis' 'Mandy' 'Annette' 'Timothy'
 'Emily' 'Owen' 'Janet' 'Leigh' 'Wendy' 'Karen' 'Graeme' 'Reece' 'Wayne'
 'Connor' 'Megan' 'Craig' 'Nicole' 'Aimee' 'Frank' 'Jasmine' 'Linda'
 'Brian' 'Josephine' 'Joel' 'Paul' 'Kate' 'Molly' 'Karl' 'Kerry' 'Duncan'
 'Mathew' 'Alan' 'Bernard' 'Douglas' 'Rita' 'Rosie' 'Kieran' 'Eric'
 'Christopher' 'Zoe' 'Dominic' 'Gillian' 'Donna' 'Albert' 'Victoria'
 'Jason' 'Sara' 'Benjamin' 'Katherine' 'Michelle' 'Joanna' 'Beth' 'Jacob'
 'Rachel' 'Gareth' 'Joseph' 'June' 'Lynda' 'Bethan' 'Gerald' 'Ashley'
 'Joanne' 'Alexander' 'Margaret' 'Matthew' 'Maurice' 'Abbie' 'Geraldine'
 'Louise' 'Anna' 'Chelsea' 'Gary' 'Adam' 'Jill' 'Charlotte' 'Tom' 'Barry'
 'Arthur' 'Jayne' 'Clare' 'Tony' 'Gordon' 'Natasha' 'Damian' 'Lawrence'
 'Kayleigh' 'Gerard' 'Dale' 'Ellie' 'Leanne' 'Marcus' 'Jade' 'Charlie'
 'Simon' 'Raymond' 'Suzanne' 'Carolyn' 'Steven' 'Nathan' 'Dawn' 'Conor'
 'Justin' 'Helen' 'Roy' 'Sylvia' 'Allan' 'Samantha' 'Georgina' 'Ronald'
 'Leah' 'Lydia' 'Kelly' 'Jodie' 'Lynne' 'John' 'Ashleigh' 'Tracey'
 'Patricia' 'Marc' 'Bethany' 'Ricky' 'Joyce' 'Heather' 'Tina' 'Robert'
 'Yvonne' 'Samuel' 'Jennifer' 'Gregory' 'Julie' 'Holly' 'Hugh' 'Rhys'
 'Pamela' 'Lisa' 'Rosemary' 'Maureen' 'Paige' 'Susan' 'Denise' 'Sian'
 'Ross' 'Sharon' 'Cheryl' 'Keith' 'Carly' 'Kathryn' 'Rachael' 'Elizabeth'
 'Julian' 'Stacey' 'Josh' 'Mark' 'Joshua' 'Amanda' 'Trevor' 'Paula'
 'Daniel' 'Amelia' 'Christian' 'Jay' 'Martin' 'Barbara' 'Chloe' 'Teresa'
 'Fiona' 'Graham' 'Kim' 'Stephanie' 'Victor' 'Eileen' 'Iain' 'Louis'
 'Garry' 'Elliot' 'Diana' 'Russell' 'Caroline' 'Shane' 'Nicholas' 'Callum'
 'Jack' 'Naomi' 'Bradley' 'Clifford' 'Lee' 'Kenneth' 'Mohammad' 'Mary'
 'Carol' 'Sophie' 'Brett' 'Toby' 'Frederick' 'Jonathan' 'Marian' 'Vanessa'
 'Jean' 'Ann' 'Malcolm' 'Shannon' 'Sarah' 'Hazel' 'Richard' 'Alice'
 'Charles' 'Jeremy' 'Amber' 'Charlene' 'Danielle' 'Deborah' 'Hilary'
 'Phillip' 'Dorothy' 'Alexandra' 'Nicola' 'Pauline' 'Judith' 'Kathleen'
 'Howard' 'Frances' 'Declan' 'Christine' 'Brenda' 'Mitchell' 'Antony'
 'Colin' 'Eleanor' 'Sean' 'Anne' 'Hayley' 'Maria' 'Leslie' 'Jordan'
 'Elliott' 'Kirsty' 'Lucy' 'Leonard' 'Bryan' 'Alison' 'Kevin' 'Georgia'
 'Tracy' 'Adrian' 'Hannah' 'Stephen' 'Roger' 'Jamie' 'James' 'Sam' 'Debra'
 'Cameron' 'Joan' 'Mohammed' 'William' 'Stuart' 'Lynn' 'Martyn' 'Henry'
 'Jake' 'Ben' 'Thomas' 'Ryan' 'Billy' 'Danny' 'Amy' 'Marion' 'Norman'
 'Angela' 'Kimberley' 'Derek' 'Katie' 'Vincent' 'Gavin' 'Abdul' 'Jeffrey'
 'Scott' 'David' 'Sheila' 'Harry' 'Jacqueline' 'Rebecca' 'Donald' 'Edward'
 'Nigel' 'Jemma' 'Hollie' 'Natalie' 'Aaron' 'Shirley' 'Carole' 'Robin'
 'George' 'Anthony' 'Neil' 'Dennis' 'Lewis' 'Catherine' 'Jenna' 'Emma'
 'Mohamed' 'Max' 'Harriet' 'Lorraine' 'Lindsey' 'Jane' 'Guy' 'Terry' 'Joe'
 'Liam' 'Terence' 'Clive' 'Geoffrey' 'Valerie' 'Grace' 'Alex' 'Irene'
 'Laura' 'Ruth' 'Gemma' 'Julia' 'Patrick' 'Michael' 'Luke' 'Oliver'
 'Diane' 'Lauren' 'Ian' 'Olivia' 'Gail' 'Elaine' 'Beverley' 'Dylan'
 'Janice' 'Leon' 'Peter' 'Clare Ann']

Surname: 672 unique values
['Kaur' 'Hughes' 'Freeman' 'Ward' 'Thorpe' 'Gill' 'Barber' 'Henderson'
 'Cook' "O'Brien" 'Law' 'Hardy' 'Rogers' 'Murphy' 'Baldwin' 'Lawrence'
 "O'Neill" 'Turner' 'Preston' 'Haynes' 'Brown' 'Smith' 'Wood' 'Campbell'
 'Ahmed' 'Jones' 'Kay' 'Hutchinson' 'Edwards' 'Evans' 'Murray' 'Berry'
 'Berry-Jackson' 'Bishop' 'Clark' 'McCarthy' 'Ali' 'Richardson' 'Jackson'
 'Roberts' 'Pearce' 'Kent' 'Higgins' 'Nash' 'Harris' 'Butcher' 'Norris'
 'Walsh' 'Holmes' 'Griffiths' 'Allen' 'Carpenter' 'Blake' 'Francis'
 'Payne' 'Parker' 'George' 'Brooks' 'Donnelly' 'Walker' 'Cooper' 'Woods'
 'Russell' 'Stevenson' 'Slater' 'Todd' 'White' 'Akhtar' 'Pope' 'Skinner'
 'Singh' 'Robinson' 'King' 'Pearson' 'Parry' 'Johnson' 'Davis' 'Davies'
 'Buckley' 'Davidson' 'Hancock-Davidson' 'Baker' 'James-Hutchinson'
 'Fisher' 'Sims' 'Clayton' 'Garner' 'Johnston' 'Connolly' 'Rahman'
 'Humphreys' 'Green' 'Mitchell' 'Connor' 'Cox' 'Miller' 'Knight' 'Sutton'
 'Marshall' 'Barker' 'Duncan' 'Moss' 'James' 'Middleton' 'Collins'
 'Thomas' 'Sullivan' 'Wilson' 'Manning' "O'Connor" 'Patel' 'Shaw' 'Rees'
 'Wright' 'Webb' 'Bartlett' 'Carr' 'Lewis' 'Reid' 'Woodward' 'Mann'
 'Thompson' 'Wilkinson' 'Richards' 'Stone' 'Nelson' 'Booth' 'Adams'
 'Bailey' 'Arnold' 'Jarvis' 'Forster' 'Stephens' 'Harrison' 'Schofield'
 'Gray-Brooks' 'Taylor' 'Griffin' 'Foster' 'Williams' 'Turnbull' 'Duffy'
 'Young' 'Dobson' 'Patterson' 'Lee' 'North' 'Finch' 'Pratt-Bishop' 'Gray'
 'Chadwick' 'Thornton' 'Marsh' 'Harvey' 'Robertson' 'Doyle' 'Austin'
 'Harper' 'Armstrong' 'Sykes' 'Cross' 'Dean' 'Owens' 'Owen' 'Matthews'
 'Hobbs' 'Price' 'Dunn' 'McDonald' 'Gardner' 'Reed' 'Yates'
 'Burke-Johnston' 'Barry' 'Ball' 'Read' 'Chambers' 'Baker-Mills' 'Hyde'
 'Scott' 'Bates' 'Birch' 'Hall' 'Dawson' 'Hamilton' 'Clarke' 'Watts'
 'Metcalfe' 'Howe' 'Sharp' 'Barnett' 'Jenkins' 'Rowe' 'Morrison' 'Myers'
 'Carroll' 'Osborne' 'Bibi' 'Hunt' 'Simpson' 'Thomson' 'Ford' 'Potts'
 'Hussain' 'Field' 'Pickering' 'Chapman' 'Carey' 'Talbot' 'Palmer'
 'Powell' 'Khan' 'Waters-Bruce' 'Swift' 'Savage' 'Davey' 'Brady' 'Mason'
 'Elliott' 'Black' 'Moore' 'Ashton' 'Bell' 'Barton' 'Lowe' 'Peacock'
 'Hayward' 'Dennis' 'Fraser' 'Fowler' 'Walters' 'Hopkins' 'Spencer'
 'Smith-Jenkins' 'Riley' 'Graham' 'Wilkins-Stokes' 'Lucas' 'Thomas-Taylor'
 'Cooke' 'Wheeler' 'Bevan' 'Parkin' 'Bennett' 'Lynch' 'Humphries'
 'Sanders' 'Moran-Wheeler' 'Holland' 'Miles' 'Hicks' 'Howarth' 'Gibson'
 'Herbert' 'Bradley' 'Gordon' 'Anderson' 'Brennan' 'Lane' 'McLean' 'Ellis'
 'Hilton' 'Curtis' 'Parsons' 'Carter' 'Kirby' 'Ingram' 'Cunningham'
 'Godfrey' 'Moran' 'Gregory' 'Morgan' 'Butler' 'Howard-Taylor' 'Hill'
 'Ryan-Kerr' 'Poole' 'Bowen' 'Evans-Mason' 'Bull' 'Mills' 'Perry'
 'Andrews' 'Begum' 'Rhodes' 'Ross' 'Tomlinson' 'Holden' 'Morris'
 'Hargreaves' 'Pugh' 'Doherty' 'Shah' 'Coleman' 'Alexander' 'Stewart'
 'Kelly' 'Peters-Shepherd' 'Burgess' 'Hudson' 'Wells' 'Willis' 'Weston'
 'Davison' 'Dale' 'Porter' 'Pollard' 'Phillips' 'Johnson-Kent'
 'Morgan-Jones' 'Saunders' 'Singh-Chambers' 'Vaughan' 'Randall' 'Holt'
 'Gough' 'Browne' 'Fletcher' 'Gould' 'Fox' 'Hale' 'Nicholson' 'Kemp'
 'Kemp-Hurst' 'Watson' 'Kirk' 'Ryan' 'Watson-Parry' 'Goddard'
 'Winter-Stephens' 'French' 'Townsend' 'Robinson-Jones' 'Martin' 'Gibbons'
 'Burke-Hardy' 'Brookes' 'Warren' 'Whitehead' 'Butler-Bowen' 'Webster'
 'Sanderson' 'Miah' 'Hart' "O'Sullivan" 'Bentley' 'Macdonald' 'Wong'
 'Miah-Atkinson' 'Wallace' 'Atkinson' 'Nicholls' 'Barlow' 'Wilkins'
 'Watkins' 'Yates-Watkins' 'Parker-Jones' 'Faulkner' 'Chan' 'Collier-Chan'
 'Reeves' 'Barnes' 'Ferguson' 'Vincent' 'Barrett' 'Bryant' 'Smart'
 'Wallis' 'Wilson-Morris' 'Reynolds' 'Hawkins' 'Short' 'Lawson' 'Robson'
 'Kerr' 'Lloyd' 'Crawford' 'Daniels' 'Gilbert' 'Williamson' 'Watts-Moore'
 'Gardiner' 'Newman' 'Frost' 'Nixon' 'Bird' 'Baker-Lloyd' 'Cartwright'
 'Hodgson' 'Marsden' 'Page' 'Bolton' 'Lewis-Patel' 'Howard' 'West'
 'Harding' 'Houghton' 'Dodd' 'Johnson-Robertson'
 'Sanders-Johnson-Robertson' 'Hunter' 'Dyer' 'Graham-Taylor' 'Cameron'
 'Rose' 'Reynolds-Hayward' 'Fry' 'Sheppard' 'Bond' 'Payne-Morton' 'Abbott'
 'Whittaker' 'Morley' 'Lyons' 'Gallagher' 'Oliver' 'Stevens' 'Douglas'
 'Quinn' 'Grant' 'John' 'Whitehouse' 'Parkes' 'Pritchard'
 'Pollard-Cartwright' 'Mistry' 'Wade-Mistry' 'Tyler' 'Banks' 'Newton'
 'Naylor' 'Potter' 'Noble' 'Franklin' 'Dale-Hughes' 'Summers' 'Fuller'
 'Baxter' 'Lees' 'Wyatt' 'Coates' 'Hughes-Coates' 'Peters' 'White-Graham'
 'Newton-Miles' 'Tucker' 'Hartley' 'Charlton' 'Owen-Hawkins'
 'Freeman-Kaur' 'Day' 'Kennedy' 'Mahmood' 'Kelly-Bell' 'Morton'
 'Andrews-Hussain' 'Dixon' 'Lewis-Smith' 'Hewitt' 'Norton'
 'Berry-Richards' 'Stephenson' 'Swift-Kaur' 'Wright-Robinson' 'Wood-Scott'
 'Cole' 'Cole-Ryan' 'Atkins' 'Craig' 'Farrell' 'Murphy-Williams' 'Hooper'
 'Welch' 'Burke' 'Roberts-Whitehead' 'Coles' 'Adams-Hussain'
 'Daniels-Woods' 'Power' 'Hammond' 'Little' 'Joyce-Vaughan'
 'Higgins-Perkins' 'Briggs' 'Chamberlain' 'Simmons' 'Skinner-Cole'
 'Clark-Hill' 'Jennings' 'Winter' 'Leonard' 'Thomas-Fowler' 'Holloway'
 'Roberts-Webster' 'Jones-Stone' 'Rowley' 'Miah-Walters' 'Holt-Page'
 'Archer' 'Stevens-Marshall' 'Green-Brown' 'Wilson-Howarth' 'Sharpe'
 'Crawford-Short' 'Norman' 'Flynn' 'Lawrence-Jones' 'Storey' 'Howell'
 'Chandler' 'Bennett-Turner' 'Hayes' 'Williams-Elliott'
 'Thomson-Williams-Elliott' 'Fleming' 'Johnson-Parker' 'Walton' 'Bray'
 'Lambert' 'Turner-Johnson' 'Lord' 'Allan' 'Clarke-Ward' 'Bradshaw'
 'Byrne' 'Collier' 'Waters' 'Leach' 'Birch-Davis' 'Henry' 'Jones-Cox'
 'Hart-Williams' 'Hawkins-Wood' 'Wall' 'Carr-Hartley' 'Baker-Johnson'
 'Long' 'Cook-Burrows' 'Hughes-Edwards' 'Barker-Hughes-Edwards'
 'Brennan-Parkes' 'Evans-Brown' 'Smith-Smith' 'Joyce' 'Smith-Gordon'
 'Iqbal' 'Burns' 'Hayes-Phillips' 'Thompson-Lynch' 'Brown-Hyde'
 'Hunt-Burgess' 'Williams-Clements' 'Carpenter-Skinner' 'Brown-Wilkinson'
 'Wright-Holmes' 'Steele' 'Stokes' 'Burton' 'Hurst' 'Morgan-Hurst'
 'Shepherd' 'Greenwood' 'Smith-Edwards' 'Barker-Jackson' 'Harrison-Oliver'
 'Watson-Willis' 'Benson' 'Hunter-Pearce' 'Farmer' 'Simpson-Begum'
 'North-Thomas' 'Scott-Burns' 'Sinclair' 'Holland-Harrison'
 'Matthews-Howells' 'Gibbs' "O'Donnell" 'May' 'Burns-Evans' 'Dickinson'
 'Horton' 'Miller-Hawkins' 'Collins-Perkins' 'Hudson-Lawrence' 'Goodwin'
 'Roberts-Atkinson' 'Davies-Taylor' 'Perkins' 'Boyle' 'Heath'
 'Wilson-Gray' 'Pratt' 'McKenzie' 'Burrows' 'Johnson-Collier' 'Daly'
 'Lewis-Fisher' 'Jordan' "Williams-O'Connor" 'Rice' 'Miller-Anderson'
 'Atkins-Martin' 'Holt-Robertson' 'Hancock' 'Bruce' 'Elliott-Jackson'
 'Wood-Patel' 'Glover' 'Knowles' 'Conway' 'Lowe-Cunningham' 'Day-Holland'
 'Lowe-Parry' 'Butler-Sykes' 'Giles' 'Daly-Wall' 'Simmons-Francis'
 'Adams-Long' "Phillips-O'Neill" 'Nicholls-Edwards' 'Quinn-Marshall'
 'Wall-Khan' 'Smith-Davies' 'Price-Smith-Davies' 'Howells'
 'Sheppard-Holland' 'Ali-Stone' 'Evans-Nicholls' 'Evans-Nicholls-Smith'
 'Higgins-Edwards' 'Parkinson' 'Rees-Berry' 'Campbell-Jennings'
 'Pritchard-Wilkinson' 'Thompson-Campbell' 'Murphy-Johnson' 'Hardy-Morris'
 'Henderson-Jones' 'Smith-Hussain' 'Clarke-Brown' 'Bennett-Carter'
 'Bailey-Bennett-Carter' 'Williams-Hicks' 'Cole-Sinclair'
 'Nicholson-Stewart' 'Long-Lamb' 'King-Clarke' 'Doherty-Powell' 'Bryan'
 'Taylor-Shah' 'Brown-Hancock' 'Pratt-Carr' 'Jones-Matthews'
 'Watson-Savage' 'Wade' 'Patel-Goodwin' 'Warner' 'Stanley' 'Fitzgerald'
 'Hope' 'Williams-King' 'Jones-Taylor' 'Freeman-Jones-Taylor'
 'Fitzgerald-Matthews' 'Hayes-Cole' 'Miah-Gray' 'Miah-Gray-Rogers'
 "Marshall-O'Donnell" 'Morrison-Moran' 'Williams-Kerr'
 'Parkin-Williams-Kerr' 'Parkin-Webb']

Age: 114 unique values
['79' '66' '19' '40' '38' '5' '74' '41' '88' '22' '64' '62' '59' '36' '2'
 '46' '61' '39' '21' '42' '54' '67' '84' '85' '34' '9' '53' '17' '43' '45'
 '44' '8' '4' '29' '47' '73' '18' '82' '86' '20' '33' '35' '71' '25' '23'
 '70' '68' '27' '48' '60' '0' '51' '56' '10' '50' '24' '37' '58' '13' '14'
 '28' '31' '52' '30' '1' '32' '11' '72' '55' '15' '16' '49' '57' '6' '75'
 '81' '26' '7' '3' '65' '87' '63' '93' '91' '69' '12' '77' '103' '105'
 '80' '83' '89' '76' '78' '100' ' ' '95' '94' '92' '67.59395344'
 '68.59395344' '74.52257249' '77.52257249' '71.70815374' '101' '97' '98'
 '90' '96' '64.43652627' '66.43652627' '104' 'forty' '84.64983653']

Relationship to Head of House: 20 unique values
['Head' 'Partner' 'Son' 'Wife' 'Husband' nan 'Daughter' 'Cousin'
 'Grandson' 'Lodger' 'Granddaughter' 'Sibling' 'Step-Son' 'Step-Daughter'
 'Visitor' 'Adopted Daughter' 'Adopted Son' 'Neice' 'Son-in-law' 'Nephew'
 'Adopted Granddaughter']

Marital Status: 8 unique values
['Widowed' 'Single' nan 'Divorced' 'Married' 'D' 'W' 'S' 'M']

Gender: 8 unique values
['Male' 'Female' 'M' 'male' 'female' 'f' 'F' 'm']

Occupation: 1067 unique values
['Retired Surveyor, building control' 'Financial trader'
 'University Student' ... 'Retired Doctor, general practice'
 'Planning and development surveyor' 'Retired Engineer, communications']

Infirmity: 7 unique values
[nan 'Physical Disability' ' ' 'Mental Disability' 'Blind' 'Disabled'
 'Deaf' 'Unknown Infection']

Religion: 13 unique values
['Christian' nan 'Methodist' 'Sikh' 'Muslim' 'Catholic' 'Buddist' 'Jewish'
 'Bahai' 'Pagan' 'Housekeeper' ' ' 'Sith' 'Nope']

**Step 2: Clean the Data**

* Age

In [8]:
print(df.columns.tolist())

['Unnamed: 0', 'House Number', 'Street', 'First Name', 'Surname', 'Age', 'Relationship to Head of House', 'Marital Status', 'Gender', 'Occupation', 'Infirmity', 'Religion']

In [16]:
#Strip whitespace from all column names
df.columns = df.columns.str.strip()

#Normalize all column names
df.columns = df.columns.str.strip().str.lower().str.replace(' ', '_')

print(df.columns.tolist())

['unnamed:_0', 'house_number', 'street', 'first_name', 'surname', 'age', 'relationship_to_head_of_house', 'marital_status', 'gender', 'occupation', 'infirmity', 'religion']

In [19]:
# Convert ageto numeric 
df['age'] = pd.to_numeric(df['age'], errors='coerce')


# Impute missing age by group
df['age'] = df.groupby(['relationship_to_head_of_house', 'gender'])['age'].transform(lambda x: x.fillna(x.median()))

* Marital Status

In [27]:
# Fill any remaining missing ages with a reasonable default
df['age'] = df['age'].fillna(df['age'].median())

# Set marital_status to 'N/A' for anyone under 18
df.loc[df['age'] < 18, 'marital_status'] = 'N/A'

* Occupation Cleaning

In [29]:
# Children
df.loc[df['age'] < 16, 'occupation'] = 'Student'

# Elderly
df.loc[(df['age'] > 70) & (df['occupation'].isnull()), 'occupation'] = 'Retired'

# Fill any remaining missing values
df['occupation'] = df['occupation'].fillna('Unemployed')

* Infirmity

In [31]:
df['infirmity'] = df['infirmity'].fillna('None')
df['infirmity'] = df['infirmity'].str.strip().str.title()

* Religion

In [32]:
df['religion'] = df['religion'].fillna('Not stated')
df['religion'] = df['religion'].str.strip().str.title()

* Gender

In [33]:
df['gender'] = df['gender'].str.strip().str.title()

In [34]:
# Check for any remaining missing values
print(df.isnull().sum())

# Check unique values (catch typos, variants)
for col in ['marital_status', 'occupation', 'infirmity', 'religion', 'gender']:
    print(f"{col}: {df[col].unique()}")

unnamed:_0                         0
house_number                       0
street                             0
first_name                         0
surname                            0
age                                0
relationship_to_head_of_house    563
marital_status                     8
gender                             0
occupation                         0
infirmity                          0
religion                           0
dtype: int64
marital_status: ['Widowed' 'Single' 'N/A' 'Divorced' 'Married' 'D' nan 'W' 'S' 'M']
occupation: ['Retired Surveyor, building control' 'Financial trader'
 'University Student' ... 'Retired Doctor, general practice'
 'Planning and development surveyor' 'Retired Engineer, communications']
infirmity: ['None' 'Physical Disability' '' 'Mental Disability' 'Blind' 'Disabled'
 'Deaf' 'Unknown Infection']
religion: ['Christian' 'Not Stated' 'Methodist' 'Sikh' 'Muslim' 'Catholic' 'Buddist'
 'Jewish' 'Bahai' 'Pagan' 'Housekeeper' '' 'Sith' 'Nope']
gender: ['Male' 'Female' 'M' 'F']

In [36]:
df['relationship_to_head_of_house'] = df['relationship_to_head_of_house'].fillna('Unknown')

# Fix shorthand values
df['marital_status'] = df['marital_status'].replace({
    'D': 'Divorced',
    'W': 'Widowed',
    'S': 'Single',
    'M': 'Married'
})

# Fill remaining NaNs
df['marital_status'] = df['marital_status'].fillna('N/A')

df['infirmity'] = df['infirmity'].replace('', 'None')
df['infirmity'] = df['infirmity'].str.title().str.strip()

# First clean blanks
df['religion'] = df['religion'].replace('', 'Not Stated')

# Replace fake entries
invalid_religions = ['Housekeeper', 'Nope', 'Sith']
df['religion'] = df['religion'].replace(invalid_religions, 'Other')

# Standardize case
df['religion'] = df['religion'].str.title().str.strip()

df['gender'] = df['gender'].replace({'M': 'Male', 'F': 'Female'})
df['gender'] = df['gender'].str.title().str.strip()

In [37]:
# Final null check
print(df.isnull().sum())

# Final value check
for col in ['marital_status', 'occupation', 'infirmity', 'religion', 'gender', 'relationship_to_head_of_house']:
    print(f"{col}: {df[col].unique()}")

unnamed:_0                       0
house_number                     0
street                           0
first_name                       0
surname                          0
age                              0
relationship_to_head_of_house    0
marital_status                   0
gender                           0
occupation                       0
infirmity                        0
religion                         0
dtype: int64
marital_status: ['Widowed' 'Single' 'N/A' 'Divorced' 'Married']
occupation: ['Retired Surveyor, building control' 'Financial trader'
 'University Student' ... 'Retired Doctor, general practice'
 'Planning and development surveyor' 'Retired Engineer, communications']
infirmity: ['None' 'Physical Disability' 'Mental Disability' 'Blind' 'Disabled'
 'Deaf' 'Unknown Infection']
religion: ['Christian' 'Not Stated' 'Methodist' 'Sikh' 'Muslim' 'Catholic' 'Buddist'
 'Jewish' 'Bahai' 'Pagan' 'Other']
gender: ['Male' 'Female']
relationship_to_head_of_house: ['Head' 'Partner' 'Son' 'Wife' 'Husband' 'Unknown' 'Daughter' 'Cousin'
 'Grandson' 'Lodger' 'Granddaughter' 'Sibling' 'Step-Son' 'Step-Daughter'
 'Visitor' 'Adopted Daughter' 'Adopted Son' 'Neice' 'Son-in-law' 'Nephew'
 'Adopted Granddaughter']

In [40]:
df.to_csv('cleaned_census_data.csv', index=False)